.screen{
  width: 508px;
  height: 128px;
  background-color: #181F33;
  color: #FFFFFF;
  border-radius: 10px;
  font-size: 56px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: right; 
  padding-right: 32px; 
  overflow:hidden;
}

.screen-numpad{
  margin-bottom: 24px;
}