@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

html {
  font-family: "League Spartan", sans-serif;
}

body{
  font-family: "League Spartan", sans-serif;
  margin: 0;
  padding: 0;
}

.center-body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme1-body{
  background-color: #3A4663;
  width: 100%;
  height: 100vh;
}

.theme2-body{
  background-color: #E6E6E6;
  width: 100%;
  height: 100vh;
}

.theme3-body{
  background-color: #17062A;
  width: 100%;
  height: 100vh;
}